/* 图标组件样式 */
.sys-icon {
    display: inline-block;
    vertical-align: middle;
    flex-shrink: 0;
}

.sys-icon-spin {
    animation: sys-icon-spin 1s linear infinite;
}

@keyframes sys-icon-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
